.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f6fa;
}
.education {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.work {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.resume .columns {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.resume .columns h3 {
    text-align: center;
    color: black;
} 